<%- include("./partials/Head")  %> 

  <%- include("./partials/navbar") %> 

<!-- header ends -->

<!-- container starts -->
<div class="container container-flex mt-5">
        <main role="main">
            <article class="article-featured">
                <img src="/uploads/<%= objposts.image %>">
                <div class="article-foot">
                    <p class="article-info" style="display:inline-block">July 23, 2019 | 3 comments</p>
                    <form action="" method="post">
                        <i class="fa-regular fa-thumbs-up clicked fa-2x"></i>
                    </form>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title mb-3"><%= objposts.title %> </h2>
                    <p class=""><%- objposts.description %> </p>
                </div>
            </article>
        </main>
        
        <aside class="sidebar">
            
            <div class="sidebar-widget">
                <h2 class="widget-title">ABOUT ME</h2>
                <img src="https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%202-%20A%20simple%20life/img/about-me.jpg" alt="john doe" class="widget-image">
                <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
            </div>
            
            
            <div class="sidebar-widget">
                <h2 class="widget-title">RECENT POSTS</h2>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">SpaceX</h3>
                    <img src="/Uploads/165275461223129musk-1-mediumSquareAt3X.jpg" alt="two dumplings on a wood plate with chopsticks" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Tesla</h3>
                    <img src="/Uploads/1652888915753for_press_release.jpg" alt="a chair white chair at a white desk on a white wall" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Paybpal</h3>
                    <img src="/Uploads/1652888915753for_press_release.jpg" alt="a green plant in a clear, round vase with water in it" class="widget-image">
                </div>
            </div>
            
        </aside>
        
    </div>
<!-- container ends -->

<!-- footer starts -->
<footer>
  <p><strong>Living the Simple Life</strong></p>  
</footer>
<!-- footer ends -->
            <%- include("./partials/footer") %> 
