<%- include("./partials/Head")  %> 
<link rel="stylesheet" href="/css/infulancer.css">

<%- include("./partials/navbar") %> 
<%- include("./partials/messages") %> 


<div id="header">
      <div class="container mt-3">
          <div class=" top-info row">
              <div class="col-8 col-md-3 circle-frame diviamge">
                <img src="/Uploads/165275417314916518234543202.jpg" class="img-responsive profile-image">
              </div>
              <div class="col-12 col-md-5">
                  <h1><%=objinfulancer.firstname %> </h1><br>
                  <p>Art Tutor</p>
                  <p><i>Stop the brain freeze.</i></p><br>
              </div>
              <div class=" col col-md-4 price-border me-auto">
                <ul class="user-details">
                  <li>Availability: Part-time (25 hr/wk)</li>
                  <li>Age: 300</li>
                  <li>Location: London, United Kingdom</li>
                  <li>Years Exprience: 3</li>
                </ul>
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
          </div>
      </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
              <div class="col-md-8 main-info">
                <div class="content"> 
                  <h2>Experiences</h2><hr>
                  <div class="exper ms-5">
                    <p class="h5 mt-5"><%= objinfulancer.company1 %> </p>
                    <p class="h5 mt-5">Senior UI/UX Designer</p>
                    <p class="h5 mt-5">Senior UI/UX Designer</p>
                  </div>
                </div>
                    <div class="row mt-5 px-3">
                      <div class="skills col content me-2">
                          <h2>Skills</h2><hr>
                          <div class="exper ms-5">
                            <p class="h5 mt-5">Senior UI/UX Designer</p>
                            <p class="h5 mt-5">Senior UI/UX Designer</p>
                            <p class="h5 mt-5">Senior UI/UX Designer</p>
                          </div>
                      </div>
                      <div class="skills col content ms-2">
                        <h2>Awards</h2><hr>
                        <div class="exper ms-5">
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                        </div>
                      </div>
                  </div>
                  <div class="content mt-5 mx-1"> 
                    <h2>Education</h2><hr>
                    <div class="exper ms-5">
                      <p class="h5 mt-5">Senior UI/UX Designer</p>
                      <p class="h5 mt-5">Senior UI/UX Designer</p>
                      <p class="h5 mt-5">Senior UI/UX Designer</p>
                    </div>
                  </div>
                  <div class="row mt-5 px-3">
                    <div class="skills col-6 content me-2">
                        <h2>Language </h2><hr>
                        <div class="exper ms-5">
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                          <p class="h5 mt-5">Senior UI/UX Designer</p>
                        </div>
                    </div>
                    <div style="height: 200px;"></div>
                </div>
              </div>
                  <div class="col-md-4 main-info">
                    <div class="content">
                    <h4 class="mb-3">Similar Profiles</h4>
                    <div class="list-info similar-pro">
                        <img src="/Uploads/165275461223129musk-1-mediumSquareAt3X.jpg" alt="Coventry University" class="icon"/>
                        <h4 class="aboutus-text"><b>Alan Smith</b></h4>
                        <p class="font-large"><i class="fa fa-map-marker" aria-hidden="true"> London, United Kingdom</i></p>
                      <p>£30/hour</p>
                      </div>
                    <div class="list-info similar-pro">
                        <img src="/Uploads/165275461223129musk-1-mediumSquareAt3X.jpg" alt="Coventry University" class="icon"/>
                        <h4 class="aboutus-text"><b>Alan Smith</b></h4>
                        <p class="font-large"><i class="fa fa-map-marker" aria-hidden="true"> London, United Kingdom</i></p>
                      <p>£30/hour</p>
                      </div>
                    <div class="list-info">
                        <img src="/Uploads/165275461223129musk-1-mediumSquareAt3X.jpg" alt="Coventry University" class="icon"/>
                        <h4 class="aboutus-text"><b>Alan Smith</b></h4>
                        <p class="font-large"><i class="fa fa-map-marker" aria-hidden="true"> London, United Kingdom</i></p>
                      <p>£30/hour</p>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>
<footer>
  <p><strong>Living the Simple Life</strong></p>
  
</footer>
</body>
</html>