<%- include("./partials/Head")  %> 

  <%- include("./partials/navbar") %> 
  <%- include("./partials/messages") %> 
  <!-- header ends -->

<!-- container starts -->
<div class="container container-flex mt-5">
        <main role="main">
            <!-- <% if(typeof user != 'undefined') { %>
                <h1>Hellloooooo</h1>
               <% if(user.plan == "basic"){%> 
                <h1>Basic</h1>
                <% }else{%> 
                    <h1>Premium</h1>
                <% } %> 
            <a href="/logout">LOGOUT</a>
            <% } %>  -->
            <article class="article-featured">
                <h2 class="article-title">Finding simplicity in life</h2>
                <img src="/Uploads/1652888915753for_press_release.jpg"  class="pinned-image">
                <p class="article-info">July 23, 2019 | 3 comments</p>
                <p class="article-body pinned">Life can get complicated really quickly, but it doesn't have to be! There are many ways to simplify your life, a few of which we've explored in the past. This week we're taking a bit of a approach though, in how you can find simplicity in the life you already living.</p>
                <a href="#" class="article-read-more">CONTINUE READING</a>
                <br><br>
            </article>
            <% posts.forEach(item =>{ %> 
              <article class="article-recent">
                <div class="article-recent-main row">
                    <h4 class="article-title col text-start p-0"><%= item.title %> </h4>
                    <% if(typeof user != 'undefined'){ %>
                        <% if(user.isAdmin) { %>
                            <div class="dropdown me-auto col-1">
                                <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="">Pin</a></li>
                                    <li><a class="dropdown-item" href="/edit/<%=item.id%>">Edit</a></li>
                                    <form action="/delete/<%=item.id%>" method="POST">
                                        <a >
                                            <li><button class="dropdown-item" type="submit" >Delete</button></li>
                                        </a>
                                    </form>
                                </ul>
                            </div>
                        <% } %>
                    <% } %>
                    <div class="article-body row"><%- item.description %></div>
                    <a href="/mainpage/<%= item._id %>" class="article-read-more">CONTINUE READING</a>


                </div>
                <div class="article-recent-secondary">
                    <img src="/uploads/<%= item.image %>" class="article-image">
                    <p class="article-info"> <%= item.timeCreated %>| 3 comments</p>
                </div>
            </article>
            <% }); %> 
        </main>
        
        <aside class="sidebar">
            
            <div class="sidebar-widget">
                <h2 class="widget-title">ABOUT ME</h2>
                <img src="/Uploads/1652888915753for_press_release.jpg" alt="john doe" class="widget-image">
                <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
            </div>
            
            <div class="sidebar-widget">
                <h2 class="widget-title">RECENT POSTS</h2>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">SpaceX</h3>
                    <img src="/Uploads/165275461223129musk-1-mediumSquareAt3X.jpg" alt="two dumplings on a wood plate with chopsticks" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Tesla</h3>
                    <img src="/Uploads/1652888915753for_press_release.jpg" alt="a chair white chair at a white desk on a white wall" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Paybpal</h3>
                    <img src="/Uploads/1652888915753for_press_release.jpg" alt="a green plant in a clear, round vase with water in it" class="widget-image">
                </div>
            </div>
            
        </aside>
        
    </div>
<!-- container ends -->

<!-- footer starts -->
<footer>
  <p><strong>Living the Simple Life</strong></p>
  
</footer>
<!-- footer ends -->
            <%- include("./partials/footer") %> 
